
a.href("/") FB Login
#fb-root


.fb-login-button(data-show-faces='true', data-width='200', data-max-rows='1', size="large", onclick='dummyFunc();', id='login') Get Connected
	
script(src='/js/fb_login.js') 

	


