extends layout

block content
	.container-fluid
		.row-fluid
			.span3
				.well.sidebar-nav
					ul.nav.nav-list
						li.nav-header Jump In!
					form.well.form-horizontal
						input.input-large(type="text",placeholder="Email")
						p.small for ex: yourname@company.com
							br
						input.input-large(type="password",placeholder="Password")
						p Atleast 6 digits
							br
						label.checkbox Remember me
							input(type="checkbox") 
						a.btn.btn-success.btn-large(type='submit') Log In
							
				.well.sidebar-nav
					ul.nav.nav-list
						li.nav-header Yet to Join the League?
					.container
						.row-fluid
							.span2.well
						
						
								
							
			.span9
				.leaderboard
					h1 Envy & Envy'd... Discover what you like through friends!!!
						
	
				.row-fluid
					.span6
						h3 Interesting enough to check out? 
						
					.span6
						h3 How this Works?
					
					

